@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper [class^="swiper-button-"] {
    color: #e12838;
    top: 35%;
    font-size: 14px;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: ###e2e8f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #fdce36;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #feda68;
}

.swiper [class^="swiper-button-"]::after {
    font-size: 32px;
}

p {
    line-height: 1.625;
    color: #636363;
    font-family: "Poppins";
}

h3 {
    color: #1a1c29;
    line-height: 1.625;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
}

h2 {
    color: #1a1c29;
    line-height: 1.625;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins";
}

h1 {
    color: #1a1c29;
    line-height: 1.625;
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins";
}
